@import url('https://fonts.googleapis.com/css?family=Sofia');

.website-title{
    font-family: 'Sofia'; 
    font-size: 7rem;
    
}

.logo{
    background-image: url('../assets/Bath\ Logo.png');
    background-size: contain;
    background-position: center;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}


.home-button{
    font-size: 1.2rem; 
    padding: 10px 200px;
    width: 51%;
    height: auto; 
    background-color: #bbe7fe;
    border-radius: 10px;
  }
  