@import url('https://fonts.googleapis.com/css?family=Sofia');

.website-title{
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 7rem;
    margin-bottom: 10px;
}

.logo{
    background-image: url('../assets/Bath\ logo.png');
    background-size: contain;
    background-position: center;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}


.home-button{
    font-size: 1.2rem; 
    padding: 10px 200px;
    width: 51%;
    height: auto; 
    background-color: #F84791;
    border-radius: 10px;
    margin-top: 10px;
  }

  h2 {

    margin-top: 10px;
    font-family: 'Sofia'; 
    font-size: 5rem;
  }


a {
    font-size: 1.8rem;
}